<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Video">
	<setting label="Quality" type="labelenum" id="quality" values="540p|720p|720p60|master">
      <default>master</default>
    </setting>
    <setting label="Force Live" type="bool" id="force" default="true"/>
  </category>
  <category label="Network">
		<setting label="CDN (Content Delivery Network)" type="labelenum" id="cdn" values="Akamai|Level 3"/>
	</category>
</settings>
