<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Video">
		<setting label="Quality" type="labelenum" id="quality" values="360p|540p|720p|720p 60fps">
      <default>720p 60fps</default>
    </setting>
	</category>
  <category label="Network">
		<setting label="CDN (Content Delivery Network)" type="labelenum" id="cdn" values="Akamai|Level 3"/>
    <!--<setting label="Proxy Service" type="ipaddress" id="svc" value="107.6.175.181"/>-->
	</category>
</settings>
